<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.bean.User" >
    	<id column="ObjectId" property="objectid" jdbcType="CHAR" />
    <result column="ParentObjectId" property="parentobjectid" jdbcType="CHAR" />
    <result column="CreateBy" property="createby" jdbcType="CHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UpdateBy" property="updateby" jdbcType="CHAR" />
    <result column="UpdateTime" property="updatetime" jdbcType="CHAR" />
    <result column="State" property="state" jdbcType="INTEGER" />
    <result column="DelFlag" property="delflag" jdbcType="INTEGER" />
    <result column="XM" property="xm" jdbcType="CHAR" />
    <result column="ZH" property="zh" jdbcType="CHAR" />
    <result column="WXH" property="wxh" jdbcType="CHAR" />
    <result column="SJH" property="sjh" jdbcType="CHAR" />
    <result column="EMAIL" property="email" jdbcType="CHAR" />
    <result column="SZBM" property="szbm" jdbcType="VARCHAR" />
    <result column="ZW" property="zw" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="XB" property="xb" jdbcType="INTEGER" />
    <result column="TX" property="tx" jdbcType="VARCHAR" />
    <result column="Passwd" property="passwd" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ObjectId, ParentObjectId, CreateBy, CreateTime, UpdateBy, UpdateTime, State, DelFlag, 
    XM, ZH, WXH, SJH, EMAIL, SZBM, ZW, memo, XB, TX
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from FB_User
    where ObjectId = #{objectid,jdbcType=CHAR}
  </select>
  <select id="search" resultMap="BaseResultMap"  parameterType="java.lang.String">
  	select 
  	<include refid="Base_Column_List" />
    from FB_User
    where XM like #{0} or ZH like #{0}
  </select>
  <select id="loginValidate" resultMap="BaseResultMap" >
  	select
  	<include refid="Base_Column_List" />
    from FB_User
    where ZH = #{0,jdbcType=CHAR} and Passwd = #{1,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from FB_User
    where ObjectId = #{objectid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.User" >
    insert into FB_User (ObjectId, ParentObjectId, CreateBy, 
      CreateTime, UpdateBy, UpdateTime, 
      State, DelFlag, XM, ZH, 
      WXH, SJH, EMAIL, SZBM, 
      ZW, memo, XB, TX, 
      Passwd)
    values (#{objectid,jdbcType=CHAR}, #{parentobjectid,jdbcType=CHAR}, #{createby,jdbcType=CHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updateby,jdbcType=CHAR}, #{updatetime,jdbcType=CHAR}, 
      #{state,jdbcType=INTEGER}, #{delflag,jdbcType=INTEGER}, #{xm,jdbcType=CHAR}, #{zh,jdbcType=CHAR}, 
      #{wxh,jdbcType=CHAR}, #{sjh,jdbcType=CHAR}, #{email,jdbcType=CHAR}, #{szbm,jdbcType=VARCHAR}, 
      #{zw,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{xb,jdbcType=INTEGER}, #{tx,jdbcType=VARCHAR}, 
      #{passwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.User" >
    insert into FB_User
    <trim prefix="(" suffix=")" suffixOverrides="," >
        ObjectId,
      <if test="parentobjectid != null" >
        ParentObjectId,
      </if>
      <if test="createby != null" >
        CreateBy,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="updateby != null" >
        UpdateBy,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="state != null" >
        State,
      </if>
      <if test="delflag != null" >
        DelFlag,
      </if>
      <if test="xm != null" >
        XM,
      </if>
      <if test="zh != null" >
        ZH,
      </if>
      <if test="wxh != null" >
        WXH,
      </if>
      <if test="sjh != null" >
        SJH,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="szbm != null" >
        SZBM,
      </if>
      <if test="zw != null" >
        ZW,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="xb != null" >
        XB,
      </if>
      <if test="tx != null" >
        TX,
      </if>
      <if test="passwd != null" >
        Passwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{objectid,jdbcType=CHAR},
      <if test="parentobjectid != null" >
        #{parentobjectid,jdbcType=CHAR},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=CHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=CHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=CHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="delflag != null" >
        #{delflag,jdbcType=INTEGER},
      </if>
      <if test="xm != null" >
        #{xm,jdbcType=CHAR},
      </if>
      <if test="zh != null" >
        #{zh,jdbcType=CHAR},
      </if>
      <if test="wxh != null" >
        #{wxh,jdbcType=CHAR},
      </if>
      <if test="sjh != null" >
        #{sjh,jdbcType=CHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=CHAR},
      </if>
      <if test="szbm != null" >
        #{szbm,jdbcType=VARCHAR},
      </if>
      <if test="zw != null" >
        #{zw,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="xb != null" >
        #{xb,jdbcType=INTEGER},
      </if>
      <if test="tx != null" >
        #{tx,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null" >
        #{passwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.User" >
    update FB_User
    <set >
      <if test="parentobjectid != null" >
        ParentObjectId = #{parentobjectid,jdbcType=CHAR},
      </if>
      <if test="createby != null" >
        CreateBy = #{createby,jdbcType=CHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        UpdateBy = #{updateby,jdbcType=CHAR},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=CHAR},
      </if>
      <if test="state != null" >
        State = #{state,jdbcType=INTEGER},
      </if>
      <if test="delflag != null" >
        DelFlag = #{delflag,jdbcType=INTEGER},
      </if>
      <if test="xm != null" >
        XM = #{xm,jdbcType=CHAR},
      </if>
      <if test="zh != null" >
        ZH = #{zh,jdbcType=CHAR},
      </if>
      <if test="wxh != null" >
        WXH = #{wxh,jdbcType=CHAR},
      </if>
      <if test="sjh != null" >
        SJH = #{sjh,jdbcType=CHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=CHAR},
      </if>
      <if test="szbm != null" >
        SZBM = #{szbm,jdbcType=VARCHAR},
      </if>
      <if test="zw != null" >
        ZW = #{zw,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="xb != null" >
        XB = #{xb,jdbcType=INTEGER},
      </if>
      <if test="tx != null" >
        TX = #{tx,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null" >
        Passwd = #{passwd,jdbcType=VARCHAR},
      </if>
    </set>
    where ObjectId = #{objectid,jdbcType=CHAR}
  </update>
  <select id="getList" parameterType="com.bean.User" resultMap="BaseResultMap" >
  	select 
    <include refid="Base_Column_List" />
    from FB_User where DelFlag = 0 
       <if test="parentobjectid != null" >
        ParentObjectId = #{parentobjectid,jdbcType=CHAR}
      </if>
      <if test="createby != null" >
        and CreateBy = #{createby,jdbcType=CHAR}
      </if>
      <if test="createtime != null" >
        and CreateTime = #{createtime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateby != null" >
        and UpdateBy = #{updateby,jdbcType=CHAR}
      </if>
      <if test="updatetime != null" >
        and UpdateTime = #{updatetime,jdbcType=CHAR}
      </if>
      <if test="state != null" >
        and State = #{state,jdbcType=INTEGER}
      </if>
      <if test="xm != null" >
        and XM = #{xm,jdbcType=CHAR}
      </if>
      <if test="zh != null" >
        and ZH = #{zh,jdbcType=CHAR}
      </if>
      <if test="wxh != null" >
        and WXH = #{wxh,jdbcType=CHAR}
      </if>
      <if test="sjh != null" >
        and SJH = #{sjh,jdbcType=CHAR}
      </if>
      <if test="email != null" >
        and EMAIL = #{email,jdbcType=CHAR}
      </if>
      <if test="szbm != null" >
        and SZBM = #{szbm,jdbcType=VARCHAR}
      </if>
      <if test="zw != null" >
        and ZW = #{zw,jdbcType=VARCHAR}
      </if>
      <if test="memo != null" >
        and memo = #{memo,jdbcType=VARCHAR}
      </if>
      <if test="xb != null" >
        and XB = #{xb,jdbcType=INTEGER}
      </if>
      <if test="tx != null" >
        and TX = #{tx,jdbcType=VARCHAR}
      </if>
      <if test="passwd != null" >
        and Passwd = #{passwd,jdbcType=VARCHAR}
      </if> 
  </select>
  <update id="updateByPrimaryKey" parameterType="com.bean.User" >
    update FB_User
    set ParentObjectId = #{parentobjectid,jdbcType=CHAR},
      CreateBy = #{createby,jdbcType=CHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      UpdateBy = #{updateby,jdbcType=CHAR},
      UpdateTime = #{updatetime,jdbcType=CHAR},
      State = #{state,jdbcType=INTEGER},
      DelFlag = #{delflag,jdbcType=INTEGER},
      XM = #{xm,jdbcType=CHAR},
      ZH = #{zh,jdbcType=CHAR},
      WXH = #{wxh,jdbcType=CHAR},
      SJH = #{sjh,jdbcType=CHAR},
      EMAIL = #{email,jdbcType=CHAR},
      SZBM = #{szbm,jdbcType=VARCHAR},
      ZW = #{zw,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      XB = #{xb,jdbcType=INTEGER},
      TX = #{tx,jdbcType=VARCHAR},
      Passwd = #{passwd,jdbcType=VARCHAR}
    where ObjectId = #{objectid,jdbcType=CHAR}
  </update>
</mapper>