<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.WorkItemMapper" >
  <resultMap id="BaseResultMap" type="com.bean.WorkItem" >
    <id column="ObjectId" property="objectid" jdbcType="CHAR" />
    <result column="BizObjectId" property="bizobjectid" jdbcType="CHAR" />
    <result column="BizObjectSchemaCode" property="bizobjectschemacode" jdbcType="NVARCHAR" />
    <result column="ActivityCode" property="activitycode" jdbcType="NVARCHAR" />
    <result column="ActivityName" property="activityname" jdbcType="NVARCHAR" />
    <result column="Originator" property="originator" jdbcType="CHAR" />
    <result column="Receiver" property="receiver" jdbcType="CHAR" />
    <result column="Sender" property="sender" jdbcType="NVARCHAR" />
    <result column="Finisher" property="finisher" jdbcType="NCHAR" />
    <result column="ReceiveTime" property="receivetime" jdbcType="TIMESTAMP" />
    <result column="StartTime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="FinishTime" property="finishtime" jdbcType="TIMESTAMP" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="State" property="state" jdbcType="INTEGER" />
    <result column="EitherOrAll" property="eitherorall" jdbcType="INTEGER" />
    <result column="InstanceId" property="instanceid" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="WPMap" type="com.bean.WorkItem" >
    <id column="ObjectId" property="objectid" jdbcType="CHAR" />
    <result column="BizObjectId" property="bizobjectid" jdbcType="CHAR" />
    <result column="BizObjectSchemaCode" property="bizobjectschemacode" jdbcType="NVARCHAR" />
    <result column="ActivityCode" property="activitycode" jdbcType="NVARCHAR" />
    <result column="ActivityName" property="activityname" jdbcType="NVARCHAR" />
    <result column="Originator" property="originator" jdbcType="CHAR" />
    <result column="Receiver" property="receiver" jdbcType="CHAR" />
    <result column="Sender" property="sender" jdbcType="NVARCHAR" />
    <result column="Finisher" property="finisher" jdbcType="NCHAR" />
    <result column="ReceiveTime" property="receivetime" jdbcType="TIMESTAMP" />
    <result column="StartTime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="FinishTime" property="finishtime" jdbcType="TIMESTAMP" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="State" property="state" jdbcType="INTEGER" />
    <result column="EitherOrAll" property="eitherorall" jdbcType="INTEGER" />
    <result column="InstanceId" property="instanceid" jdbcType="CHAR" />
    <association property="projectIssueManage" select="selectProjectIssueManage" column="bizobjectid" javaType="com.bean.ProjectIssueManage" ></association>
  </resultMap>
  <resultMap id="projectIssueManage" type="com.bean.ProjectIssueManage" >
	    <id column="ObjectId" property="objectid" jdbcType="CHAR" />
	    <result column="ParentObjectId" property="parentobjectid" jdbcType="CHAR" />
	    <result column="CreateBy" property="createby" jdbcType="CHAR" />
	    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
	    <result column="UpdateBy" property="updateby" jdbcType="CHAR" />
	    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
	    <result column="State" property="state" jdbcType="INTEGER" />
	    <result column="DeleteFlag" property="deleteflag" jdbcType="INTEGER" />
	    <result column="XH" property="xh" jdbcType="INTEGER" />
	    <result column="TBRQ" property="tbrq" jdbcType="TIMESTAMP" />
	    <result column="KHMC" property="khmc" jdbcType="VARCHAR" />
	    <result column="CPMC" property="cpmc" jdbcType="VARCHAR" />
	    <result column="XMBH" property="xmbh" jdbcType="VARCHAR" />
	    <result column="TBR" property="tbr" jdbcType="CHAR" />
	    <result column="XMJD" property="xmjd" jdbcType="VARCHAR" />
	    <result column="JJCD" property="jjcd" jdbcType="CHAR" />
	    <result column="BTMC" property="btmc" jdbcType="VARCHAR" />
	    <result column="WTJTH" property="wtjth" jdbcType="VARCHAR" />
	    <result column="WLBM" property="wlbm" jdbcType="VARCHAR" />
	    <result column="WTMS" property="wtms" jdbcType="VARCHAR" />
	    <result column="WTTP" property="wttp" jdbcType="VARCHAR" />
	    <result column="WTVedio" property="wtvedio" jdbcType="VARCHAR" />
	    <result column="ZRLB" property="zrlb" jdbcType="CHAR" />
	    <result column="WTLB" property="wtlb" jdbcType="VARCHAR" />
	    <result column="YYFX" property="yyfx" jdbcType="VARCHAR" />
	    <result column="CLFA" property="clfa" jdbcType="VARCHAR" />
	    <result column="ZRR" property="zrr" jdbcType="CHAR" />
	    <result column="FAZXR" property="fazxr" jdbcType="CHAR" />
	    <result column="YQWCSJ" property="yqwcsj" jdbcType="TIMESTAMP" />
	    <result column="SJWCSJ" property="sjwcsj" jdbcType="TIMESTAMP" />
	    <result column="WCQK" property="wcqk" jdbcType="CHAR" />
	    <result column="LSJDH" property="lsjdh" jdbcType="VARCHAR" />
	    <result column="SFBGTZ" property="sfbgtz" jdbcType="CHAR" />
	    <result column="TZBGZRR" property="tzbgzrr" jdbcType="CHAR" />
	    <result column="SJCNBGSJ" property="sjcnbgsj" jdbcType="TIMESTAMP" />
	    <result column="SJTZBGSJ" property="sjtzbgsj" jdbcType="TIMESTAMP" />
	    <result column="SJTZBGDH" property="sjtzbgdh" jdbcType="VARCHAR" />
	    <result column="BGWCQK" property="bgwcqk" jdbcType="CHAR" />
	    <result column="CPJX" property="cpjx" jdbcType="VARCHAR" />
	    <result column="WTSFCFFS" property="wtsfcffs" jdbcType="CHAR" />
	    <result column="SJQD" property="sjqd" jdbcType="VARCHAR" />
	    <result column="WTS" property="wts" jdbcType="INTEGER" />
	    <result column="GZJD" property="gzjd" jdbcType="INTEGER" />
	    <result column="BZ" property="bz" jdbcType="VARCHAR" />
	    <result column="BTSL" property="btsl" jdbcType="INTEGER" />
	    <result column="WXCJ" property="wxcj" jdbcType="VARCHAR" />
	    <association property="fqr" select="selectUser" column="createby" javaType="com.bean.User" ></association>
    </resultMap>
    <resultMap type="com.bean.WorkItem" id="WorkItemStatus">
    	<result column="ActivityName" property="activityname" jdbcType="VARCHAR" />
    	<result column="ActivityCode" property="activitycode" jdbcType="VARCHAR" />
    	<result column="BizObjectSchemaCode" property="bizobjectschemacode" jdbcType="VARCHAR" />
    	<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
	    <result column="receivetime" property="receivetime" jdbcType="TIMESTAMP" />
	    <result column="finishtime" property="finishtime" jdbcType="TIMESTAMP" />
	    <result column="receivername" property="receivername" jdbcType="VARCHAR" />
	    <result column="finishername" property="finishername" jdbcType="VARCHAR" />
	    <result column="Receiver" property="receiver" jdbcType="VARCHAR" />
	    <result column="sendername" property="sendername" jdbcType="VARCHAR" />
	    <result column="state" property="state" jdbcType="INTEGER" />
    </resultMap>
  <sql id="Base_Column_List" >
    ObjectId, BizObjectId, BizObjectSchemaCode, ActivityCode, ActivityName, Originator, 
    Receiver, Sender, Finisher, ReceiveTime, StartTime, FinishTime, CreateTime, UpdateTime, 
    State, EitherOrAll, InstanceId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from FB_WorkItem
    where ObjectId = #{objectid,jdbcType=CHAR}
  </select>
  <select id="selectProjectIssueManage" resultMap="projectIssueManage">
  	select *
  	from I_ProjectIssueManage where objectid = #{0}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from FB_WorkItem
    where ObjectId = #{objectid,jdbcType=CHAR}
  </delete>
  <select id="selectUser" resultMap="com.mapper.UserMapper.BaseResultMap">
  	select * from FB_User where ObjectId = #{0}
  </select>
  <select id="selectBySelective" resultMap="WPMap" parameterType="com.bean.WorkItem">
  	select
  	a.*
    from FB_WorkItem a
    inner join I_ProjectIssueManage b on a.BizObjectId = b.ObjectId
    <where>
		  <if test="objectid != null">
			AND a.ObjectId = #{objectid,jdbcType=CHAR}
		  </if>
		  <if test="bizobjectid != null" >
	        AND a.BizObjectId = #{bizobjectid,jdbcType=CHAR}
	      </if>
	      <if test="bizobjectschemacode != null" >
	        AND a.BizObjectSchemaCode = #{bizobjectschemacode,jdbcType=VARCHAR}
	      </if>
	      <if test="activitycode != null" >
	        AND a.ActivityCode = #{activitycode,jdbcType=VARCHAR}
	      </if>
	      <if test="activityname != null" >
	        AND a.ActivityName = #{activityname,jdbcType=VARCHAR}
	      </if>
	      <if test="originator != null" >
	        AND a.Originator = #{originator,jdbcType=CHAR}
	      </if>
	      <if test="receiver != null" >
	        AND a.Receiver = #{receiver,jdbcType=CHAR}
	      </if>
	      <if test="sender != null" >
	        AND a.Sender = #{sender,jdbcType=CHAR}
	      </if>
	      <if test="finisher != null" >
	        AND a.Finisher = #{finisher,jdbcType=CHAR}
	      </if>
	      <if test="receivetime != null" >
	        AND a.ReceiveTime = #{receivetime,jdbcType=TIMESTAMP}
	      </if>
	      <if test="starttime != null" >
	        AND a.StartTime = #{starttime,jdbcType=TIMESTAMP}
	      </if>
	      <if test="finishtime != null" >
	        AND a.FinishTime = #{finishtime,jdbcType=TIMESTAMP}
	      </if>
	      <if test="createtime != null" >
	        AND a.CreateTime = #{createtime,jdbcType=TIMESTAMP}
	      </if>
	      <if test="updatetime != null" >
	        AND a.UpdateTime = #{updatetime,jdbcType=TIMESTAMP}
	      </if>
	      <if test="state != null" >
	        AND a.State = #{state,jdbcType=INTEGER}
	      </if>
	      <if test="eitherorall != null" >
	        AND a.EitherOrAll = #{eitherorall,jdbcType=INTEGER}
	      </if>
	      <if test="instanceid != null" >
	        AND a.InstanceId = #{instanceid,jdbcType=CHAR}
	      </if>
	</where>
	order by b.xmbh
  </select>
  <insert id="insert" parameterType="com.bean.WorkItem" >
    insert into FB_WorkItem (ObjectId, BizObjectId, BizObjectSchemaCode, 
      ActivityCode, ActivityName, Originator, 
      Receiver, Sender, Finisher, 
      ReceiveTime, StartTime, FinishTime, 
      CreateTime, UpdateTime, State, 
      EitherOrAll, InstanceId)
    values (#{objectid,jdbcType=CHAR}, #{bizobjectid,jdbcType=CHAR}, #{bizobjectschemacode,jdbcType=NVARCHAR}, 
      #{activitycode,jdbcType=NVARCHAR}, #{activityname,jdbcType=NVARCHAR}, #{originator,jdbcType=CHAR}, 
      #{receiver,jdbcType=CHAR}, #{sender,jdbcType=NVARCHAR}, #{finisher,jdbcType=NCHAR}, 
      #{receivetime,jdbcType=TIMESTAMP}, #{starttime,jdbcType=TIMESTAMP}, #{finishtime,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, 
      #{eitherorall,jdbcType=INTEGER}, #{instanceid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.WorkItem" >
    insert into FB_WorkItem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objectid != null" >
        ObjectId,
      </if>
      <if test="bizobjectid != null" >
        BizObjectId,
      </if>
      <if test="bizobjectschemacode != null" >
        BizObjectSchemaCode,
      </if>
      <if test="activitycode != null" >
        ActivityCode,
      </if>
      <if test="activityname != null" >
        ActivityName,
      </if>
      <if test="originator != null" >
        Originator,
      </if>
      <if test="receiver != null" >
        Receiver,
      </if>
      <if test="sender != null" >
        Sender,
      </if>
      <if test="finisher != null" >
        Finisher,
      </if>
      <if test="receivetime != null" >
        ReceiveTime,
      </if>
      <if test="starttime != null" >
        StartTime,
      </if>
      <if test="finishtime != null" >
        FinishTime,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="state != null" >
        State,
      </if>
      <if test="eitherorall != null" >
        EitherOrAll,
      </if>
      <if test="instanceid != null" >
        InstanceId,
      </if>
     
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objectid != null" >
        #{objectid,jdbcType=CHAR},
      </if>
      <if test="bizobjectid != null" >
        #{bizobjectid,jdbcType=CHAR},
      </if>
      <if test="bizobjectschemacode != null" >
        #{bizobjectschemacode,jdbcType=NVARCHAR},
      </if>
      <if test="activitycode != null" >
        #{activitycode,jdbcType=NVARCHAR},
      </if>
      <if test="activityname != null" >
        #{activityname,jdbcType=NVARCHAR},
      </if>
      <if test="originator != null" >
        #{originator,jdbcType=CHAR},
      </if>
      <if test="receiver != null" >
        #{receiver,jdbcType=CHAR},
      </if>
      <if test="sender != null" >
        #{sender,jdbcType=NVARCHAR},
      </if>
      <if test="finisher != null" >
        #{finisher,jdbcType=NCHAR},
      </if>
      <if test="receivetime != null" >
        #{receivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishtime != null" >
        #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="eitherorall != null" >
        #{eitherorall,jdbcType=INTEGER},
      </if>
      <if test="instanceid != null" >
        #{instanceid,jdbcType=CHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.WorkItem" >
    update FB_WorkItem
    <set >
      <if test="bizobjectid != null" >
        BizObjectId = #{bizobjectid,jdbcType=CHAR},
      </if>
      <if test="bizobjectschemacode != null" >
        BizObjectSchemaCode = #{bizobjectschemacode,jdbcType=NVARCHAR},
      </if>
      <if test="activitycode != null" >
        ActivityCode = #{activitycode,jdbcType=NVARCHAR},
      </if>
      <if test="activityname != null" >
        ActivityName = #{activityname,jdbcType=NVARCHAR},
      </if>
      <if test="originator != null" >
        Originator = #{originator,jdbcType=CHAR},
      </if>
      <if test="receiver != null" >
        Receiver = #{receiver,jdbcType=CHAR},
      </if>
      <if test="sender != null" >
        Sender = #{sender,jdbcType=NVARCHAR},
      </if>
      <if test="finisher != null" >
        Finisher = #{finisher,jdbcType=NCHAR},
      </if>
      <if test="receivetime != null" >
        ReceiveTime = #{receivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="starttime != null" >
        StartTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishtime != null" >
        FinishTime = #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        State = #{state,jdbcType=INTEGER},
      </if>
      <if test="eitherorall != null" >
        EitherOrAll = #{eitherorall,jdbcType=INTEGER},
      </if>
      <if test="instanceid != null" >
        InstanceId = #{instanceid,jdbcType=CHAR},
      </if>
    </set>
    where ObjectId = #{objectid,jdbcType=CHAR}
  </update>
  <update id="updateByBizCode" parameterType="com.bean.WorkItem" >
	  	update FB_WorkItem
	    <set >
	      <if test="bizobjectid != null" >
	        BizObjectId = #{bizobjectid,jdbcType=CHAR},
	      </if>
	      <if test="bizobjectschemacode != null" >
	        BizObjectSchemaCode = #{bizobjectschemacode,jdbcType=NVARCHAR},
	      </if>
	      <if test="activitycode != null" >
	        ActivityCode = #{activitycode,jdbcType=NVARCHAR},
	      </if>
	      <if test="activityname != null" >
	        ActivityName = #{activityname,jdbcType=NVARCHAR},
	      </if>
	      <if test="originator != null" >
	        Originator = #{originator,jdbcType=CHAR},
	      </if>
	      <if test="receiver != null" >
	        Receiver = #{receiver,jdbcType=CHAR},
	      </if>
	      <if test="sender != null" >
	        Sender = #{sender,jdbcType=NVARCHAR},
	      </if>
	      <if test="finisher != null" >
	        Finisher = #{finisher,jdbcType=NCHAR},
	      </if>
	      <if test="receivetime != null" >
	        ReceiveTime = #{receivetime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="starttime != null" >
	        StartTime = #{starttime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="finishtime != null" >
	        FinishTime = #{finishtime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="createtime != null" >
	        CreateTime = #{createtime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="updatetime != null" >
	        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="state != null" >
	        State = #{state,jdbcType=INTEGER},
	      </if>
	    </set>
	    where ActivityCode = #{activitycode,jdbcType=NVARCHAR} and BizObjectId = #{bizobjectid,jdbcType=CHAR}  and State != 4 and State != 5
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.WorkItem" >
    update FB_WorkItem
    set BizObjectId = #{bizobjectid,jdbcType=CHAR},
      BizObjectSchemaCode = #{bizobjectschemacode,jdbcType=NVARCHAR},
      ActivityCode = #{activitycode,jdbcType=NVARCHAR},
      ActivityName = #{activityname,jdbcType=NVARCHAR},
      Originator = #{originator,jdbcType=CHAR},
      Receiver = #{receiver,jdbcType=CHAR},
      Sender = #{sender,jdbcType=NVARCHAR},
      Finisher = #{finisher,jdbcType=NCHAR},
      ReceiveTime = #{receivetime,jdbcType=TIMESTAMP},
      StartTime = #{starttime,jdbcType=TIMESTAMP},
      FinishTime = #{finishtime,jdbcType=TIMESTAMP},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      State = #{state,jdbcType=INTEGER},
      EitherOrAll = #{eitherorall,jdbcType=INTEGER},
      InstanceId = #{instanceid,jdbcType=CHAR}
    where ObjectId = #{objectid,jdbcType=CHAR}
  </update>
  <select id="selectWorkFlowStatus" resultMap="WorkItemStatus">
  	select 
		a.ActivityName,
		a.ActivityCode,
		a.CreateTime createtime,
		a.FinishTime finishtime,
		a.ReceiveTime receivetime,
		(select xm from FB_User u where u.ObjectId = a.Receiver) receivername,
		(select xm from FB_User u where u.ObjectId = a.Finisher) finishername,
		(select xm from FB_User u where u.ObjectId = a.Sender) sendername,
		a.State state
	from FB_WorkItem a 
	where a.BizObjectId = #{0} and a.State != 4 and a.State != 5
	order by createtime,finishtime
  </select>
  <select id="selectWorkItemJd" resultMap="BaseResultMap">
  	select distinct
		a.ActivityName,
		a.ActivityCode,
		a.BizObjectSchemaCode,
		BizObjectId
	from FB_WorkItem a
	where BizObjectId = #{0} and a.State != 4 and a.State != 5
  </select>
  <select id="selectWorkItemUsers" resultMap="WorkItemStatus" parameterType="com.bean.WorkItem">
  	select 
		a.ActivityName,
		a.BizObjectSchemaCode,
		u.XM receivername,
		a.Receiver
	from FB_WorkItem a
	inner join I_ProjectIssueManage b on a.BizObjectId = b.ObjectId
	inner join FB_User u on u.ObjectId = a.Receiver
	where a.BizObjectSchemaCode = #{activitycode,jdbcType=VARCHAR} and a.BizObjectId = #{bizobjectid,jdbcType=VARCHAR} and a.State != 4 and a.State != 5
  </select>
</mapper>