<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.XMXXMapper" >
  <resultMap id="XMXXMap" type="com.bean.XMXX" >
    <result column="XMBH" property="xmbh" jdbcType="NVARCHAR" />
    <result column="khmc" property="khmc" jdbcType="NVARCHAR" />
    <result column="cpmc" property="cpmc" jdbcType="NVARCHAR" />
    <result column="cpjd" property="cpjd" jdbcType="NVARCHAR" />
    <result column="xmjlname" property="xmjlname" jdbcType="NVARCHAR" />
    <result column="xmjl" property="xmjl" jdbcType="NVARCHAR" />
  </resultMap>
  <select id="selectByXMBH" parameterType="String" resultMap="XMXXMap" >
    select top 5 * 
    from I_XMXX 
    where XMBH like #{text,jdbcType=NVARCHAR}
    order by xmbh
  </select>
</mapper>